@use '../partials/variables' as v;
*,
*::before,
*::after {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

body{
    font-family: v.$font-primary;
    background-color: v.$color-white;
    color: v.$color-black-dark;
    line-height: 1.2;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}