@use '../partials/variables' as v;

.footer {
    padding: 22px 25px;
    background-color: v.$grey-dark;
    color: v.$white;
    font-weight: 400;
    
    
  &__logo {
    font-family: v.$font-secondary;
    font-weight: 400;
    font-size: v.$font-size-md-lg;
    margin-bottom: 16px;
  }

  &__item { 
    margin-bottom: 7px;
    font-size: v.$font-size-md;
  }

    span{
      font-weight: 500;
    }

    &__icon {
      margin-right: 4px;
      font-size: v.$font-size-xs;
      width: 16px;
      height: 16px;
      line-height: 16px;
    }
  
}