@use '../partials/variables' as v;

.footer {
    padding: v.$size-22 v.$size-25;
    background-color: v.$color-grey-dark;     /* Background & colors */
    color: v.$color-white;
    font-weight: 400;       /* Background & colors */
    
    
  &__logo {
    font-family: v.$font-secondary;   /* Typography */
    font-weight: 400;
    font-size: v.$size-18;
    margin-bottom: v.$size-16;        /* Spacing */
  }

  &__item { 
    margin-bottom: v.$size-7;
    font-size: v.$size-16;
  }

    span{
      font-weight: 500;
    }

    &__icon {
      width: v.$size-16;
      height: v.$size-16;
      margin-right: v.$size-4;
      font-size: v.$size-12;
      line-height: v.$size-16;
    }
  
}