@use '../partials/variables' as v;
@use '../partials/mixins' as m;

.footer {
    padding: v.$size-24 v.$size-25 v.$size-18 v.$size-25;
    background-color: v.$color-grey-dark;     
    color: v.$color-white;
    font-weight: 400;
    
    @include m.desktop {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: v.$size-30 4.25rem;       //rem: 68px
        height: v.$footer-height-desktop;
    }

    @include m.desktop {
        &__nav-group {
            order: 1;
            display: flex;
            gap: v.$footer-navgroup-gap;
        }
    }


    &__logo {
        font-family: v.$font-secondary;   /* Typography */
        font-weight: 400;
        font-size: v.$size-18;
        margin-bottom: v.$size-18;        /* Spacing */

        @include m.desktop {
            order: 2;
            margin-bottom: 0;
            margin-left: v.$footer-logo-margin-left;
        }
    }

    @include m.desktop {
        &__items{
            display: flex;
            gap: v.$footer-items-gap;
        }
    }

    &__item { 
        margin-bottom: v.$size-8;
        font-size: v.$size-16;

        @include m.desktop {
            margin-bottom: 0;
        }
    }

    span{
        font-weight: 500;
    }

    &__icon {
        width: v.$size-16;
        height: v.$size-16;
        margin-right: v.$size-4;
        font-size: v.$size-12;
        line-height: v.$size-16;

        @include m.desktop {
            margin-right: v.$size-2;
        }
    }
  
}