@use '../partials/variables' as v;
@use '../partials/mixins' as m;


.header{
    position: relative;         /* Positioning */
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    height: v.$header-height;
    background-color: v.$color-white;           /* Background & effects */
    box-shadow: v.$header-shadow;

    &__go-back{
        position: absolute;
        display: inline-block;
        left: v.$header-go-back-left;
        transform: translateY(-50%);
        text-decoration: none;

        img{
            width: v.$go-back-width;
            height: v.$go-back-height;
        }
    }
    
    &__logo{
        font-size: v.$size-28;
        font-weight: 400;
        color: v.$color-black;
        margin-top: v.$size-11;
        
        @include m.desktop {
            font-size: v.$size-36;
            margin-top: 0;
        }
    }

    @include m.desktop {
        height: v.$header-height-desktop;
        box-shadow: none;
    }
}

