
@use '../partials/variables' as v;
@use '../partials/mixins' as m;

.location-bar{
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: v.$color-grey-light;
    padding: v.$size-15;
    color: v.$color-grey-dark;
    gap: v.$size-17;
    box-shadow: 0px 4px 4px 0px #00000040;

    @include m.desktop {
       box-shadow: none;
    }

    &__text{
        font-size: v.$size-16;
        font-weight: 500;
    }
}


.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: v.$color-grey-lightest;
    text-align: center;
    padding: 38px 32px;

    @include m.desktop {
       padding: 30px 32px;
    }

    &__title {
        font-size: v.$size-24;
        font-weight: 700;
        margin: 0px 24px 12px 24px;  

        @include m.desktop {
        font-size: v.$size-40;
        margin-bottom: v.$size-18;
        }
    }

    &__subtitle {
        font-size: v.$size-18;
        font-weight: 300;
        margin-bottom: 30px;  

        @include m.desktop {
        margin-bottom: 30px;
        }
    }
    
    .button {
        margin-bottom: v.$size-20;
        @include m.desktop {
            margin-bottom: 0;
        }
    }
}

.fonctionnement{
    display: flex;
    flex-direction: column;
    padding: 48px 20px;

    @include m.desktop {
    padding: 50px 207px 50px 180px;
    }
    
    &__title{
        margin-bottom: v.$size-26;
        font-size: v.$size-24;
        font-weight: 700;

        @include m.desktop {
        margin-bottom: v.$size-25;
        }
    }

    &__steps{
        display: flex;
        flex-direction: column;
        gap: v.$size-24; 
        margin-bottom: v.$size-20;

        @include m.desktop {
        flex-direction: row;
        margin-bottom: 0;
        }
    }

    &__step{
        display: flex;
        align-items: center;  

        @include m.desktop {
        flex: 1;
        }
    }

    &__number{
        position: relative;
        z-index: 20;
        display: flex;
        justify-content: center;
        align-items: center;
        width: v.$size-24;
        height: v.$size-24;
        background-color: v.$color-purple;
        color: v.$color-white;
        border-radius: 50%;
        margin-right: -12px;
        font-size: v.$size-14;
        font-weight: 500;
        line-height: 1;
    }

    &__content {
        display: flex;
        width: 100%;
        border-radius: v.$size-20;
        gap: v.$size-26;
        background-color: v.$color-grey-lightest;
        padding: 28px 34px;
        box-shadow: 0px 4px 15px 0px #00000026;
        position: relative;
    }

    &__icon{
        color: v.$color-grey;
        font-size: v.$size-19;
    
    }

    &__icon--purple{
        color: v.$color-purple;
    }

    &__description{
        font-size: v.$size-16;
        font-weight: 500;
    }
}

.restaurants{
    background-color: v.$color-grey-lightest;
    padding: 54px 20px;

    @include m.desktop {
        padding: 30px 180px;
    }
    
    &__title{
        font-size: v.$size-24;
        font-weight: 700;
        margin-bottom: v.$size-18;

        @include m.desktop {
        margin-bottom: v.$size-28;
        }
    }

    &-cards{
        display: flex;
        flex-direction: column;
        gap: v.$size-18;
        background-color: v.$color-grey-lightest;
        border-radius: v.$size-15;
        margin-bottom: v.$size-12;

        @include m.desktop {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px 100px;
            margin-bottom: 0;

        }
    }
        .restaurant-card {
            position: relative;
            background-color: v.$color-white;
            border-radius: v.$size-15;
            overflow: hidden;

            @include m.desktop {
                flex-grow: 1;                   // Peut s'agrandir
                flex-shrink: 1;                 // Peut rétrécir
                flex-basis: calc(50% - 50px);   // de base 50% moins le gap
            }   
            

        &__image {
            display: block;
            width: 100%;
            height: 174px;
            object-fit: cover;
            object-position: center 100%;
            
            @include m.desktop {
                object-position: center 65%;
            }
        }

        &__badge {
            position: absolute;
            z-index: 1;
            top: v.$size-12;
            right: v.$size-12;
            padding: 6px 14px;
            color: v.$color-green-dark;
            background-color: v.$color-green;
            font-size: v.$size-14; 
            font-weight: 500;
            border-radius: v.$size-2; 
            box-shadow: 0px 2px 4px 0px #00000026;      
        }

        &__content {
            position: relative;  
            margin: 16px 13px; 
        }

        &__name {
            margin-bottom: v.$size-2;
            font-size: v.$size-18;
            font-weight: 700;
        }
            
        &__location {
            font-size: v.$size-17;
            font-weight: 300;
        }

    }
} 