
@use '../partials/variables' as v;
@use '../partials/mixins' as m;

.location-bar{
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: v.$color-grey-light;
    padding: v.$size-15;
    color: v.$color-grey-dark;
    gap: v.$size-17;
    box-shadow: v.$location-bar-shadow;

    @include m.desktop {
       box-shadow: none;
    }

    &__text{
        font-size: v.$size-16;
        font-weight: 500;
    }
}


.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: v.$color-grey-lightest;
    text-align: center;
    padding: v.$size-38  v.$size-32;

    @include m.desktop {
       padding: v.$size-30 v.$size-32;
    }

    &__title {
        font-size: v.$size-24;
        font-weight: 700;
        margin: 0 v.$size-24 v.$size-12 v.$size-24;  

        @include m.desktop {
        font-size: v.$size-40;
        margin-bottom: v.$size-32;
        }
    }

    &__subtitle {
        font-size: v.$size-18;
        font-weight: 300;
        margin-bottom: v.$size-30;
    }
    
    .button {
        margin-bottom: v.$size-20;
        @include m.desktop {
            margin-bottom: 0;
        }
    }
}

.fonctionnement{
    display: flex;
    flex-direction: column;
    padding: v.$size-48 v.$size-20;

    @include m.desktop {
    padding: v.$size-50 11.25rem v.$size-50 11.25rem;  //rem: 180px
    }
    
    &__title{
        margin-bottom: v.$size-26;
        font-size: v.$size-24;
        font-weight: 700;
    }

    &__steps{
        display: flex;
        flex-direction: column;
        gap: v.$size-24; 
        margin-bottom: v.$size-20;

        @include m.desktop {
        flex-direction: row;
        margin-bottom: 0;
        }
    }

    &__step{
        display: flex;
        align-items: center;
         
        @include m.desktop {
        flex: 1;
        max-width: v.$fonctionnement-step-width-max;
        }
    }

    &__number{
        position: relative;
        z-index: 20;
        display: flex;
        justify-content: center;
        align-items: center;
        width: v.$fonctionnement-number-width;
        height: v.$fonctionnement-number-height;
        background-color: v.$color-purple;
        color: v.$color-white;
        border-radius: v.$circle-radius;
        margin-right: v.$step-number-margin-right;
        font-size: v.$size-14;
        font-weight: 500;
        line-height: 1;
    }

    &__content {
        display: flex;
        width: 100%;
        border-radius: v.$fonctionnement-content-radius;
        gap: v.$size-26;
        background-color: v.$color-grey-lightest;
        padding: v.$size-28 v.$size-34;
        box-shadow: v.$fonctionnement-content-shadow;
        position: relative;
    }

    &__icon{
        color: v.$color-grey;
        font-size: v.$size-19;
    }

    &__icon--purple{
        color: v.$color-purple;
    }

    &__description{
        font-size: v.$size-16;
        font-weight: 500;
    }
}

.restaurants{
    background-color: v.$color-grey-lightest;
    padding: 3.375rem v.$size-20;     // rem: 54px

    @include m.desktop {
        padding: v.$size-30 11.25rem;        //rem :180px
    }
    
    &__title{
        font-size: v.$size-24;
        font-weight: 700;
        margin-bottom: v.$size-18;

        @include m.desktop {
        margin-bottom: v.$size-28;
        }
    }

    &__cards{
        display: flex;
        flex-direction: column;
        gap: v.$size-18;
        margin-bottom: v.$size-12;

        @include m.desktop {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: v.$restaurant-cards-gap;
            margin-bottom: 0;
        }
    }
}

.restaurant-card {
    position: relative;
    background-color: v.$color-white;
    border-radius: v.$restaurant-card-radius;
    overflow: hidden;

    @include m.desktop {
        flex-grow: 1;                   // Peut s'agrandir
        flex-shrink: 1;                 // Peut rétrécir
        flex-basis: calc(50% - 50px);   // de base 50% moins le gap
    }   
        
    &__image {
        display: block;
        width: 100%;
        height: v.$restaurant-card-img-height;
        object-fit: cover;
        object-position: center 100%;
        
        @include m.desktop {
            object-position: center 65%;
        }
    }

    &__image--position-exception {
        object-position: center 62%;

        @include m.desktop {
            object-position: center 56%;
        }
    }

    &__badge {
        position: absolute;
        z-index: 1;
        top: v.$size-12;
        right: v.$size-12;
        padding: v.$size-6 v.$size-14;
        color: v.$color-green-dark;
        background-color: v.$color-green;
        font-size: v.$size-14; 
        font-weight: 500;
        border-radius: v.$restaurant-badge-radius; 
        box-shadow: v.$restaurant-badge-shadow;      
    }

    &__content {
        position: relative;  
        margin: v.$size-16 v.$size-13; 
    }

    &__name {
        margin-bottom: v.$size-2;
        font-size: v.$size-18;
        font-weight: 700;
    }
        
    &__location {
        font-size: v.$size-17;
        font-weight: 300;
    }
}
 