* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #000000;
  line-height: 1.2;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header {
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.header__logo {
  font-family: "Shrikhand", cursive;
  color: #101010;
  font-weight: 400;
  padding: 14px 89px 13px 89px;
}

.footer {
  padding: 22px 25px;
  background-color: #353535;
  color: #FFFFFF;
  font-weight: 400;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
.footer__item {
  margin-bottom: 0.4375rem;
  font-size: 1rem;
}
.footer span {
  font-weight: 500;
}
.footer__icon {
  margin-right: 0.25rem;
  font-size: 0.75rem;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
}

.location-bar {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 0.9375rem;
  color: #353535;
  gap: 1.0625rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.location-bar__text {
  font-size: 1rem;
  font-weight: 500;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  text-align: center;
  padding: 39px 26px 57px 34px;
}
.hero__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 35px 11px 10px;
}
.hero__subtitle {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 0 0 30px 0px;
}
.hero__button {
  padding: 14px 23px 17px 22px;
  border-radius: 1.5625rem;
  background: linear-gradient(358deg, #9356DC -11.44%, #FF79DA 123, 93%);
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 48px 20px;
}
.fonctionnement__title {
  margin-bottom: 1.625rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.fonctionnement__steps {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.25rem;
}
.fonctionnement__step {
  display: flex;
  align-items: center;
}
.fonctionnement__number {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356DC;
  color: #FFFFFF;
  border-radius: 50%;
  margin-right: -12px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
}
.fonctionnement__content {
  display: flex;
  width: 100%;
  border-radius: 1.25rem;
  gap: 1.625rem;
  background-color: #F6F6F6;
  padding: 28px 34px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
}
.fonctionnement__icon {
  color: #7E7E7E;
  font-size: 1.1875rem;
}
.fonctionnement__description {
  font-size: 1rem;
  font-weight: 500;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 54px 20px;
}
.restaurants__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.125rem;
}
.restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  background-color: #F6F6F6;
  border-radius: 0.9375rem;
  margin-bottom: 0.75rem;
}
.restaurants .restaurant-card {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 0.9375rem;
  overflow: hidden;
}
.restaurants .restaurant-card__image {
  width: 100%;
  height: 174px;
  object-fit: cover;
  object-position: center 100%;
}
.restaurants .restaurant-card__badge {
  position: absolute;
  z-index: 1;
  top: 0.75rem;
  right: 0.75rem;
  padding: 6px 14px;
  color: #008766;
  background-color: #99E2D0;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.125rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.restaurants .restaurant-card__content {
  position: relative;
  margin: 16px 25px 16px 13px;
}
.restaurants .restaurant-card__name {
  margin-bottom: 0.125rem;
  font-size: 1.125rem;
  font-weight: 700;
}
.restaurants .restaurant-card__location {
  font-size: 1.0625rem;
  font-weight: 300;
}
.restaurants .restaurant-card__like {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  top: 196px;
  right: 1.5625rem;
}
.restaurants .restaurant-card__like-icon {
  width: 1.375rem;
  height: 1.3125rem;
  object-fit: contain;
}

/*# sourceMappingURL=style.css.map */
